.department {
  display: grid;
  grid-gap: 1rem;
  column-gap: 2rem;

  &__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.4;
  }
}

.lightBlack {
  color: rgba($color: #000000, $alpha: 0.65);
}
