@import 'src/styles/_variables';
@import 'src/styles/_mixins.scss';
@import '../../styles/main.scss';

.post-card {
  height: 256px;
  width: 200px;
  align-self: center;
  justify-self: center;

  border-radius: 16px;

  background-position: center;
  background-size: cover;

  h2,
  h3,
  p {
    margin: 0;
  }

  .hide-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__shadow {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    // Give shadow which darkens at the bottom
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 16px;
    // padding-top: 55%;
    height: 100%;
    max-height: -webkit-fill-available;

    align-items: flex-end;

    animation: fadeIn 0.5s forwards;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &:hover &__container,
  &:hover &__shadow {
    // Hide content with animation
    animation: fadeOut 0.5s forwards;

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  &__image {
    &-container {
      width: 100px;
      height: 196px;
      border-radius: 16px;
      background-color: #c4c4c4;
      overflow: hidden;
    }

    position: relative;
    width: 100%;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__status {
    top: calc(136px - 32px);
    left: 0;
  }

  &__content {
    flex: 1;
    display: flex;
    // padding-left: 8px;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
  }

  &__title {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0;

    h2 {
      line-height: 29px;
      font-weight: 800;
      color: rgba(255, 255, 255, 0.76);

      font: {
        size: 20px;
        family: IRANSans;
        weight: 800;
      }

      @supports (-webkit-line-clamp: 2) {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  &__detail {
    width: 100%;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.76);
    padding: 0;
  }

  &__subtitle {
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
  }

  &__footer {
    display: flex;
    align-items: center;
    // margin-left: 2.5px;
  }

  &__caption {
    flex: 1;
    font-size: 12px;

    &--red {
      color: #a62626;
    }
  }

  &__chat {
    width: 20px;
    height: 20px;
  }
}

@include down(md) {
  .post-card {
    width: 25.4vw;
    height: 33.3vw;
    &__title {
      h2 {
        font-size: 18px;
      }
    }
    &__detail p:first-child {
      display: none;
    }
  }
}

@include down(sm) {
  .post-card {
    width: 160px;
    height: 200px;
    &__title {
      h2 {
        font-size: 16px;
      }
    }
  }
}

@include down(xsm) {
  .post-card {
    width: 39vw;
    height: 50vw;
    &__title {
      h2 {
        font-size: 14px;
      }
    }
  }
}

@include down(xxsm) {
  .post-card {
    width: 60vw;
    height: 75vw;
    &__title {
      h2 {
        font-size: 16px;
      }
    }
  }
}
