@import 'src/styles/main.scss';

.showroom {
  height: 100vh;
  width: 100%;

  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__title {
    padding: 2rem 0;
    margin: 0;
    text-align: center;

    color: goldenrod;
    font-weight: bold;
  }
}

.logo {
  &__container {
    padding-top: 50px;
  }

  &__icon {
    width: 400px;
    height: 200px;
    margin: auto;
    background-image: url('../../assets/images/react-logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.countdown {
  &__container {
    width: 50%;
    margin: auto;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      border-radius: 50%;
      font-size: $font-size-title;
      color: $white-primary;
    }
  }
}
