$disabled-icon-color: #adadad;

// brand button colors
$brand-button-bgc: #2655a6;
$brand-button-bgc-hover: #3795be;
$disabled-brand-button-bgc: #f5f5f5;

$brand-button-text: #ffffff;
$disabled-brand-button-text: #00000052;

// default button colors
$default-button-bgc: #ffffff03;
$default-button-bgc-hover: #0000000a;
$default-button-bgc-active: #0000001f;
$disabled-default-button-bgc: #ffffff03;

$default-button-text-active: #0000001f;
$disabled-default-button-text: #00000052;
$default-button-text-hover: #000000de;
$default-button-text-active: #000000de;

$default-button-icon-hover: #000000de;
$default-button-icon-active: #000000de;
$default-button-icon: #707070;
