@import './variables';

.button {
  display: flex;
  flex-direction: reverse;
  align-items: center;
  justify-content: center;
  margin-right: 2px;

  min-width: 6rem;
  width: max-content;
  height: 2.5rem;
  padding: 4px 16px;

  outline: 0;
  border: 0;
  border-radius: 4px;

  font-size: 20px;
  line-height: 32px;
  font-weight: 400;

  cursor: pointer;

  &--has-icon {
    padding: 4px 16px 4px 12px;
  }

  &__text {
    margin-top: 2px;
    font-size: 14px;
  }

  &--brand {
    background-color: $brand-button-bgc;
    color: $brand-button-text;
    & > i {
      color: $brand-button-text;
    }
    &:hover {
      background-color: $brand-button-bgc-hover;
      transition: background-color 0.3s;
    }
    &:active {
      background-color: $brand-button-bgc;
    }

    &.button--disabled {
      color: $disabled-brand-button-text;
      background-color: $disabled-brand-button-bgc;
      &:hover {
        transition: background-color 0.3s;

        color: $disabled-brand-button-text;
        background-color: $disabled-brand-button-bgc;
      }
    }
  }

  &--default {
    color: rgba(0, 0, 0, 0.56);
    background-color: $default-button-bgc;
    & > i {
      color: $default-button-icon;
    }
    &:hover {
      transition: background-color 0.3s;

      color: $default-button-text-hover;
      background-color: $default-button-bgc-hover;
      & > i {
        color: $default-button-icon-hover;
      }
    }
    &:active {
      color: $default-button-text-active;
      background-color: $default-button-bgc-active;
      & > i {
        color: $default-button-text-active;
      }
    }

    &.button--disabled {
      color: $disabled-default-button-text;
      background-color: $disabled-default-button-bgc;
      &:hover {
        color: $disabled-default-button-text;
        background-color: $disabled-default-button-bgc;
        & > i {
          color: $disabled-default-button-text;
        }
      }
    }
  }

  & > i {
    margin-right: 10px;
  }

  &--circular {
    width: 2rem;
    height: 2rem;
    min-width: 0;
    border-radius: 50%;
    padding: 0;

    & > i {
      margin-right: 0px;
    }
  }

  &:disabled {
    cursor: default;
    & > i {
      color: $disabled-icon-color;
    }
  }
}
