.presentation-timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: auto;

    h2 {
        text-align: center;
    }
    
    &__title {
        padding: 0;
    }

    &__content {
        display: flex;
        justify-content: space-around;

        img {
            width: 25%;
        }
    }
}