.staff-card {
  height: auto;
  width: 172px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin: auto;

  h2,
  h3,
  p {
    margin: 0;
  }

  .hide-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
    padding: 16px;
  }

  &__image {
    &-container {
      min-width: 100px;
      width: 136px;
      height: 136px;
      border-radius: 4px;
      background-color: #c4c4c4;
      overflow: hidden;
    }

    position: relative;
    width: 100%;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    padding-left: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
  }

  &__title {
    height: 64px;
    overflow: hidden;
    display: flex;
    align-items: center;

    h2 {
      line-height: 29px;

      font: {
        size: 20px;
        family: IRANSans;
        weight: 800;
      }

      @supports (-webkit-line-clamp: 2) {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  &__detail {
    color: rgba(0, 0, 0, 0.56);
  }

  &__subtitle {
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-left: 2.5px;
  }
}
