@import 'src/styles/_variables.scss';

.MuiSvgIcon-root {
  width: 40px !important;
  height: 40px !important;
  padding: 2px;
}

.css-1d9ye53-MuiTypography-root {
  font-family: $font-family-base !important;
  font-size: medium !important;
}

.css-4uqsnu-MuiTypography-root-MuiTimelineContent-root {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  align-self: center;
}

.css-6w45bf-MuiTypography-root-MuiTimelineOppositeContent-root {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  align-self: center;
  font-family: $font-family-base !important;
}

.css-l4x062-MuiTypography-root-MuiTimelineOppositeContent-root {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  align-self: center;
  font-family: $font-family-base !important;
}

.css-1sohoek-MuiTimelineItem-root {
  height: 120px;
}

h2 {
  text-align: center;
}
