.MuiSvgIcon-root {
    width: 40px !important;
    height: 40px !important;
    padding: 2px;
}

.css-4uqsnu-MuiTypography-root-MuiTimelineContent-root {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    align-self: center;
}

.css-6w45bf-MuiTypography-root-MuiTimelineOppositeContent-root {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    align-self: center;
}

.css-l4x062-MuiTypography-root-MuiTimelineOppositeContent-root {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    align-self: center;
}

.css-1sohoek-MuiTimelineItem-root {
    height: 120px;
}