.articlePreview {
  max-width: 100%;
  height: auto;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  // background-image: url('../../assets/images/historyPreview-background.jpg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  h2 {
    margin: 0;
    text-align: center;
  }

  &__title {
    padding: 0;
  }

  &__content {
    padding: 0;
    text-align: left;
    color: rgb(24, 35, 89);;
  }

  &__readMoreButton {
    width: fit-content;
    float: right;
    margin-right: 44px;
    margin-bottom: 27px;
    margin-top: 6px;
    border-radius: 4px;
    font: {
      weight: bold;
      size: 20px;
      family: IRANSans;
    }

    color: rgb(24, 35, 89);
    text-decoration: underline;
  }
}
