.articlePreview {
  max-width: 100%;
  height: auto;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  // background-image: url('../../assets/images/historyPreview-background.jpg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  h2 {
    margin: 0;
    text-align: center;
  }

  &__title {
    padding: 0;
  }

  &__content {
    padding: 0;
    text-align: justify;
    color: rgb(24, 35, 89);
  }

  &__readMoreButton {
    width: fit-content;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    color: rgb(24, 35, 89);
    margin: auto;
    font: {
      weight: bold;
      size: 20px;
    }
  }
}
