@use 'sass:math';

@import 'src/styles/_variables';
@import 'src/styles/_mixins.scss';

$main-margin-top: 0px;

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 8px 16px;
    width: 100%;
    height: 48px;
    background-color: $white-nav;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(2px);
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__container {
    // padding: $main-margin-top 0px 56px;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__inside {
      padding: 10px min(4%, 50px) 20px min(4%, 50px);
    }
  }
}

.speaker {
  &__main {
    max-width: 100%;
    width: 100%;
    display: grid;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: $grid-gutter-width;
  }
}

.staff {
  &__main {
    max-width: 100%;
    display: grid;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between !important;
    grid-template-columns: repeat(2, 1fr);
    gap: $grid-gutter-width;
  }
}

#remaining-time-o {
  text-align: center;
}

#mic-f {
  text-align: center;
}

#social-sonnat-thin {
  text-align: center;
}

@include down(xxsm) {
  .speaker {
    &__main {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .staff {
    &__main {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@include up(sm) {
  .speaker {
    &__main {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .staff {
    &__main {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include up(md) {
  // .home {
  //   &__container {
  //     padding: $main-margin-top 16px 56px;
  //   }
  // }

  .speaker {
    &__main {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .staff {
    &__main {
      max-width: 1080px;
      margin: auto;

      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include up(lg) {
  .home {
    // &__container {
    //   // padding: $main-margin-top 0px 0px;
    // }
    &__header {
      display: none;
    }

    &__aside {
      display: block;
    }
  }

  .speaker {
    &__main {
      max-width: 1080px;
      margin: auto;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .staff {
    &___main {
      max-width: 1080px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@include up(xxl) {
}
