@import '../../styles/main.scss';

.about-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: auto;

    h2 {
        text-align: center;
    }
    
    &__title {
        padding: 0;
    }

    &__content {
        display: flex;
        width: 100%;
        max-width: 1080px;
        align-items: center;
        justify-items: center;
        flex-direction: row;
        justify-content: space-around;
        
        div {
            width: min(25vw, 270px);
            height: min(35vw, 378px);
            // border: 1px solid black;
            border-radius: 15px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            // box-shadow: 0;
            transition: box-shadow 0.3s;
            // transition: all 0.3s ease-in-out;
            margin: 10px 0 20px 0;
            padding: 10px;
            // opacity: 1;
        }

        div:hover {
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            // opacity: 0;
            // transition: opacity 0.5s ease-in-out;
            // transform: scale(1.2, 1.2);
            // box-shadow: 0 0 3px #515151;
        }

        // div:hover::after {
        //     box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        //     opacity: 0;
        // }
    }
}

@include down(sm) {
    .about-event {
        &__content {
            flex-direction: column;
            div {
                width: 50vw;
            }
        }
    }
}