@import '../../styles/main.scss';

.popup-register {
    display: flex;
    flex-direction: column;
    // height: 88vh;
    // overflow-y: scroll;
    overflow-y: hidden;
}

.first-p {
    margin: 0;
    text-align: justify;
    // color: red;
    font-weight: bold;
    color: black;
}

.sec-p {
    margin: 0 0 10px 0;
    // color: black;
    color: black;
}

.dialog-title {
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 8px;
    padding: 12px !important;
}

.dialog-content-main {
    background-color: lightblue;
    scrollbar-width: thin;
}

.dialog-content {
    padding-top: 15px !important;
    overflow-y: hidden !important;
    // background-color: lightblue;
}

.dialog-action {
    box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    padding: 10px 10px !important;
}

.cancel-button {
    margin-right: 10px;
}

.register-button {
    width: 150px;
}

@include down(sm) {
    .dialog-content-main {
        padding: 10px !important;
    }
}